@import "compass/css3";

$mon: 'Montserrat', sans-serif;

@mixin placeholder($color) {
  &:-moz-placeholder { color: $color;}
  &::-webkit-input-placeholder { color: $color;}
}

body, html {
  font-family: $mon;
  height: 100%;
  background: #fff;
  width: 100%;
}

#home {
  height: 100%;
}

div.wrapper {
  width: 960px;
  position: relative;
  margin: 0 auto;
}

div.clear {
  clear: both;
}

section {
  height: 100%;
  width: 100%;
}


div.big-cover {
  background: image-url("big_bg.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  text-align: center;
  letter-spacing: 8px;

  div.logo {
    position: absolute;
    top: 20px;
    width: 120px;
    height: 68px;
    background: image-url("logo_white.png");
    background-size: 100%;
    left: 0;
  }

  div.watermark {
    position: absolute;
    width: 350px;
    height: 24px;
    top: 40px;
    background: image-url("osocial.png");
    background-size: 100%;
    right: 0;
  }

  a {
    color: #6bc4ea;
    text-decoration: none;
    -webkit-transition: color 0.7s ease-out;
    -moz-transition: color 0.7s ease-out;
    -o-transition: color 0.7s ease-out;
    transition: color 0.7s ease-out;

    &:hover {
      color: #fff;
    }
  }

  h2 {
    color: #6bc4ea;
    font-family: $mon;
    font-size: 160px;
    text-transform: uppercase;
    padding: 90px 0 15px;
  }

  h3 {
    color: #6bc4ea;
    font-family: $mon;
    font-size: 100px;
    text-transform: uppercase;
    padding: 0 0 15px;
  }

  h4 {
    color: #6bc4ea;
    font-family: $mon;
    font-size: 90px;
    text-transform: uppercase;
    padding: 0 0 15px;
  }

  h5 {
    color: #6bc4ea;
    font-family: $mon;
    font-size: 50px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  ul.social {
    position: absolute;
    bottom: 30px;
    left: 0;

    li {
      padding: 0 10px 0 0;
      display: inline;

      a {
        width: 30px;
        height: 25px;
        display: inline-block;
        background: image-url("social_sprite.png");

      }
      &:nth-child(2) {
        a {
          background-position: -38px 0;
        }
      }

      &:nth-child(3) {
        a {
          background-position: -86px 0;
        }
      }

      &:nth-child(4) {
        a {
          background-position: -131px 0;
        }
      }

      &:nth-child(5) {
        a {
          background-position: -169px 0;
        }
      }

      &:nth-child(6) {
        a {
          background-position: -215px 0;
        }
      }
    }
  }
}

header {
  background: image-url("top_bg.jpg");
  background-size: cover;
  height: 190px;
  width: 100%;
  text-align: center;
  letter-spacing: 8px;


  div.logo {
    position: absolute;
    top: 20px;
    width: 120px;
    height: 68px;
    background: image-url("logo_white.png");
    background-size: 100%;
    left: 0;
  }

  div.watermark {
    position: absolute;
    width: 400px;
    height: 28px;
    top: 40px;
    background: image-url("osocial.png");
    background-size: 100%;
    right: 0;
  }

  div.nav {
    width: 100%;
    padding: 140px 0 30px;
    color: #6bc4ea;

    a {
      font-size: 14.8px;
      color: #6bc4ea;
      display: inline;
      letter-spacing: 2px;
      text-transform: uppercase;
      text-decoration: none;
      -webkit-transition: color 0.7s ease-out;
      -moz-transition: color 0.7s ease-out;
      -o-transition: color 0.7s ease-out;
      transition: color 0.7s ease-out;

      &:hover {
        color: #fff;
      }

      &.active {
        font-size: 30px;
        letter-spacing: 1px;
        color: #fff;
      }
    }
  }
}

header#influencer {
  background: image-url("influencer_top.jpg");
  background-size: cover;
}

header#clients {
  background: image-url("clients_top.png");
  background-size: cover;
}

header#about {
  background: image-url("about_top.jpg");
  background-size: cover;
}

header#contact {
  background: image-url("contact_top.jpg");
  background-size: cover;
}


div.content {
  padding-top: 70px;
  
  h3 {
    color: #6bc4ea;
    padding: 0;
    margin: 0 0 10px;
    line-height: 160%;
    font-size: 30px;
    font-weight: normal;

    a {
      color: #6bc4ea;
      text-decoration: none;
    }
  }
  
  p {
    font-size: 18px;
    color: #231f20;
    line-height: 150%;
    margin: 0 0 40px;
  }

  p.big {
    font-size: 25px;

    a {
      color: #231f20;
      text-decoration: underline;
    }
  }

  hr {
    background: #aeaeae;
    border: 0;
    height: 1px;
    width: 100%;
    margin: 20px 0 40px;
  }

  div.box {
    width: 300px;
    margin-bottom: 80px;
    float: left;

    div.holder {
      text-align: center;
      height: 90px;

      .helper {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }

      img {
        margin: 0 auto;
        vertical-align: middle;
        max-height: 90px;
        display: inline-block;
      }
    }

    h4 {
      font-size: 22px;
      color: #231f20;
      display: block;
      margin: 0;
      font-weight: normal;
      padding: 10px 0 10px;
    }

    p {
      color: #818386;
      font-size: 14px;
      line-height: 170%;
    }

    &:nth-child(3n + 2) {
      margin: 0 30px;
    }

    &:nth-child(4) {
      clear: both;
    }
  }
}

footer {
  height: 130px;
  padding-top: 0px;

  ul.social {
    margin-top: 20px;
    text-align: left;

    li {
      padding: 0 10px 0 0;
      display: inline;

      a {
        width: 30px;
        height: 25px;
        display: inline-block;
        background: image-url("social_sprite_dark.png");

      }
      &:nth-child(2) {
        a {
          background-position: -38px 0;
        }
      }

      &:nth-child(3) {
        a {
          background-position: -86px 0;
        }
      }

      &:nth-child(4) {
        a {
          background-position: -131px 0;
        }
      }

      &:nth-child(5) {
        a {
          background-position: -169px 0;
        }
      }

      &:nth-child(6) {
        a {
          background-position: -215px 0;
        }
      }
    }
  }
}

div#influencers {
  h4 {
    font-size: 20px;
    color: #231f20;
    display: block;
    margin: 0;
    font-weight: normal;
    padding: 10px 0 10px;
  }

  p {
    color: #818386;
    margin: 0 0 15px;
    font-size: 14px;
    line-height: 170%;
  }

  p.no-marg {
    margin-bottom: 15px;

    span {
      font-size: 27px;
    }
  }
}

img.map {
  width: 500px;
  margin: 0 auto;
  display: block;
}

h4.dark {
  font-size: 27px;
  color: #231f20;
  font-weight: normal;
  padding: 10px 0;
}

@media all and (min-width: 1250px) {

  div.wrapper {
    width: 1200px;
  }

  div.big-cover {
    min-height: 800px;
    
    h2 {
      color: #6bc4ea;
      font-family: $mon;
      font-size: 200px;
      text-transform: uppercase;
      padding: 90px 0 15px;
    }

    h3 {
      color: #6bc4ea;
      font-family: $mon;
      font-size: 150px;
      text-transform: uppercase;
      padding: 0 0 15px;
    }

    h4 {
      color: #6bc4ea;
      font-family: $mon;
      font-size: 120px;
      text-transform: uppercase;
      padding: 0 0 15px;
    }

    h5 {
      color: #6bc4ea;
      font-family: $mon;
      font-size: 70px;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }
}

@media all and (max-width: 959px) {
  div.wrapper {
    width: 90%;
    margin: 0 auto;
  }

  div.big-cover{
    div.logo {
      width: 90px;
      height: 50px;
    }

    div.watermark {
      width: 300px;
      height: 21px;
    }

    h2 {
      font-size: 120px;
    }

    h3 {
      font-size: 80px;
    }

    h4 {
      font-size: 60px;
    }

    h5 {
      font-size: 35px;
    }
  }

  div.content {
    
    div.box {
      float: none;
      width: 90%;
      margin: 0 auto !important;
      text-align: center;
    }

    h3 {
      font-size: 20px;
    }

    img.map {
      width: 80%;
    }
  }
}

@media all and (max-width: 709px) {
  div.big-cover{
    div.logo {
      width: 70px;
      height: 39px;
    }

    div.watermark {
      width: 200px;
      height: 14px;
    }

    h2 {
      font-size: 45px;
      padding-bottom: 30px;
    }

    h3 {
      font-size: 28px;
      padding-bottom: 30px;
    }

    h4 {
      font-size: 20px;
      padding-bottom: 30px;
    }

    h5 {
      font-size: 16px;
    }
    ul.social {

      li {
        padding: 0 5px 0 0;
        display: inline;
      }
    }
  }

  header {
    div.logo {
      width: 70px;
      height: 39px;
    }

    div.watermark {
      width: 200px;
      height: 14px;
    }

    div.nav {
      padding: 70px 0 0;
    }
  }
}
