body, html {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  background: #fff;
  width: 100%;
}

#home {
  height: 100%;
}

div.wrapper {
  width: 960px;
  position: relative;
  margin: 0 auto;
}

div.clear {
  clear: both;
}

section {
  height: 100%;
  width: 100%;
}

div.big-cover {
  background: url('../img/big_bg.jpg?1423260338');
  background-size: cover;
  height: 100%;
  width: 100%;
  text-align: center;
  letter-spacing: 8px;
}
div.big-cover div.logo {
  position: absolute;
  top: 20px;
  width: 120px;
  height: 68px;
  background: url('../img/logo_white.png?1423177776');
  background-size: 100%;
  left: 0;
}
div.big-cover div.watermark {
  position: absolute;
  width: 350px;
  height: 24px;
  top: 40px;
  background: url('../img/osocial.png?1423177803');
  background-size: 100%;
  right: 0;
}
div.big-cover a {
  color: #6bc4ea;
  text-decoration: none;
  -webkit-transition: color 0.7s ease-out;
  -moz-transition: color 0.7s ease-out;
  -o-transition: color 0.7s ease-out;
  transition: color 0.7s ease-out;
}
div.big-cover a:hover {
  color: #fff;
}
div.big-cover h2 {
  color: #6bc4ea;
  font-family: "Montserrat", sans-serif;
  font-size: 160px;
  text-transform: uppercase;
  padding: 90px 0 15px;
}
div.big-cover h3 {
  color: #6bc4ea;
  font-family: "Montserrat", sans-serif;
  font-size: 100px;
  text-transform: uppercase;
  padding: 0 0 15px;
}
div.big-cover h4 {
  color: #6bc4ea;
  font-family: "Montserrat", sans-serif;
  font-size: 90px;
  text-transform: uppercase;
  padding: 0 0 15px;
}
div.big-cover h5 {
  color: #6bc4ea;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
div.big-cover ul.social {
  position: absolute;
  bottom: 30px;
  left: 0;
}
div.big-cover ul.social li {
  padding: 0 10px 0 0;
  display: inline;
}
div.big-cover ul.social li a {
  width: 30px;
  height: 25px;
  display: inline-block;
  background: url('../img/social_sprite.png?1423177971');
}
div.big-cover ul.social li:nth-child(2) a {
  background-position: -38px 0;
}
div.big-cover ul.social li:nth-child(3) a {
  background-position: -86px 0;
}
div.big-cover ul.social li:nth-child(4) a {
  background-position: -131px 0;
}
div.big-cover ul.social li:nth-child(5) a {
  background-position: -169px 0;
}
div.big-cover ul.social li:nth-child(6) a {
  background-position: -215px 0;
}

header {
  background: url('../img/top_bg.jpg?1423260338');
  background-size: cover;
  height: 190px;
  width: 100%;
  text-align: center;
  letter-spacing: 8px;
  position: fixed;
  top: 0;
}
header div.logo {
  position: absolute;
  top: 20px;
  width: 120px;
  height: 68px;
  background: url('../img/logo_white.png?1423177776');
  background-size: 100%;
  left: 0;
}
header div.watermark {
  position: absolute;
  width: 400px;
  height: 28px;
  top: 40px;
  background: url('../img/osocial.png?1423177803');
  background-size: 100%;
  right: 0;
}
header a.mobile {
  display: none;
}
header div.nav {
  width: 100%;
  padding: 140px 0 30px;
  display: block;
  color: #6bc4ea;
}
header div.nav a {
  font-size: 14.8px;
  color: #6bc4ea;
  display: inline;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: color 0.7s ease-out;
  -moz-transition: color 0.7s ease-out;
  -o-transition: color 0.7s ease-out;
  transition: color 0.7s ease-out;
}
header div.nav a:hover {
  color: #fff;
}
header div.nav a.active {
  font-size: 30px;
  letter-spacing: 1px;
  color: #fff;
}

header#influencer {
  background: url('../img/influencer_top.jpg?1423260338');
  background-size: cover;
}

header#clients {
  background: url('../img/clients_top.png?1423260191');
  background-size: cover;
}

header#about {
  background: url('../img/about_top.jpg?1423260338');
  background-size: cover;
}

header#contact {
  background: url('../img/contact_top.jpg?1423260338');
  background-size: cover;
}

div.content {
  padding-top: 70px;
  position: relative;
  margin-top: 190px;
  background: #fff;
  z-index: 30px;
}
div.content h3 {
  color: #6bc4ea;
  padding: 0;
  margin: 0 0 10px;
  line-height: 160%;
  font-size: 30px;
  font-weight: normal;
}
div.content h3 a {
  color: #6bc4ea;
  text-decoration: none;
}
div.content p {
  font-size: 18px;
  color: #231f20;
  line-height: 150%;
  margin: 0 0 40px;
}
div.content p.big {
  font-size: 25px;
}
div.content p.big a {
  color: #231f20;
  text-decoration: underline;
}
div.content hr {
  background: #aeaeae;
  border: 0;
  height: 1px;
  width: 100%;
  margin: 20px 0 40px;
}
div.content div.box {
  width: 300px;
  margin-bottom: 80px;
  float: left;
}
div.content div.box div.holder {
  text-align: center;
  height: 90px;
}
div.content div.box div.holder .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
div.content div.box div.holder img {
  margin: 0 auto;
  vertical-align: middle;
  max-height: 90px;
  display: inline-block;
}
div.content div.box h4 {
  font-size: 22px;
  color: #231f20;
  display: block;
  margin: 0;
  font-weight: normal;
  padding: 10px 0 10px;
}
div.content div.box p {
  color: #818386;
  font-size: 14px;
  line-height: 170%;
}
div.content div.box:nth-child(3n + 2) {
  margin: 0 30px;
}
div.content div.box:nth-child(4) {
  clear: both;
}

footer {
  height: 130px;
  padding-top: 0px;
}
footer ul.social {
  margin-top: 20px;
  text-align: left;
}
footer ul.social li {
  padding: 0 10px 0 0;
  display: inline;
}
footer ul.social li a {
  width: 30px;
  height: 25px;
  display: inline-block;
  background: url('../img/social_sprite_dark.png?1423240509');
}
footer ul.social li:nth-child(2) a {
  background-position: -38px 0;
}
footer ul.social li:nth-child(3) a {
  background-position: -86px 0;
}
footer ul.social li:nth-child(4) a {
  background-position: -131px 0;
}
footer ul.social li:nth-child(5) a {
  background-position: -169px 0;
}
footer ul.social li:nth-child(6) a {
  background-position: -215px 0;
}

div#influencers h4 {
  font-size: 20px;
  color: #231f20;
  display: block;
  margin: 0;
  font-weight: normal;
  padding: 10px 0 10px;
}
div#influencers p {
  color: #818386;
  margin: 0 0 15px;
  font-size: 14px;
  line-height: 170%;
}
div#influencers p.no-marg {
  margin-bottom: 15px;
}
div#influencers p.no-marg span {
  font-size: 27px;
}

img.map {
  width: 500px;
  margin: 0 auto;
  display: block;
}

h4.dark {
  font-size: 27px;
  color: #231f20;
  font-weight: normal;
  padding: 10px 0;
}

@media all and (min-width: 1250px) {
  div.wrapper {
    width: 1200px;
  }

  div.big-cover {
    min-height: 800px;
  }
  div.big-cover h2 {
    color: #6bc4ea;
    font-family: "Montserrat", sans-serif;
    font-size: 200px;
    text-transform: uppercase;
    padding: 90px 0 15px;
  }
  div.big-cover h3 {
    color: #6bc4ea;
    font-family: "Montserrat", sans-serif;
    font-size: 150px;
    text-transform: uppercase;
    padding: 0 0 15px;
  }
  div.big-cover h4 {
    color: #6bc4ea;
    font-family: "Montserrat", sans-serif;
    font-size: 120px;
    text-transform: uppercase;
    padding: 0 0 15px;
  }
  div.big-cover h5 {
    color: #6bc4ea;
    font-family: "Montserrat", sans-serif;
    font-size: 70px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}
@media all and (max-width: 959px) {
  div.wrapper {
    width: 90%;
    margin: 0 auto;
  }

  div.big-cover div.logo {
    width: 90px;
    height: 50px;
  }
  div.big-cover div.watermark {
    width: 300px;
    height: 21px;
  }
  div.big-cover h2 {
    font-size: 120px;
  }
  div.big-cover h3 {
    font-size: 80px;
  }
  div.big-cover h4 {
    font-size: 60px;
  }
  div.big-cover h5 {
    font-size: 35px;
  }

  div.content div.box {
    float: none;
    width: 90%;
    margin: 0 auto !important;
    text-align: center;
  }
  div.content h3 {
    font-size: 20px;
  }
  div.content img.map {
    width: 80%;
  }
}
@media all and (max-width: 709px) {
  div.big-cover {
    background-position: center;
  }
  div.big-cover div.logo {
    width: 70px;
    height: 39px;
  }
  div.big-cover div.watermark {
    width: 200px;
    height: 14px;
  }
  div.big-cover h2 {
    font-size: 45px;
    padding-bottom: 30px;
  }
  div.big-cover h3 {
    font-size: 28px;
    padding-bottom: 30px;
  }
  div.big-cover h4 {
    font-size: 20px;
    padding-bottom: 30px;
  }
  div.big-cover h5 {
    font-size: 16px;
  }
  div.big-cover ul.social li {
    padding: 0 5px 0 0;
    display: inline;
  }

  header div.logo {
    width: 100px;
    height: 55px;
    position: relative;
    margin: 0 auto;
  }
  header div.watermark {
    width: 200px;
    display: none;
    height: 14px;
  }
  header a.mobile {
    display: block;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    padding: 71px 0;
  }
  header div.nav {
    width: 100%;
    padding: 10px 0 0;
    position: fixed;
    left: 0;
    top: -200px;
    background: #fff;
  }
  header div.nav span {
    display: none;
  }
  header div.nav a {
    display: block;
    padding: 7px 0px;
    visibility: visible;
    text-indent: none;
    width: 100%;
  }
  header div.nav a.active {
    color: #000;
  }
}
